/* @import url(http://fonts.googleapis.com/css?family=Open+Sans); */

.toolbar {
	font-size: 20px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: Verdana, Tahoma, sans-serif;
	display: inline-block;
	vertical-align: top;
	/*overflow: scrollbar;*/
	background: #333;
	border: 1px solid #000;
	margin: 0 0 0 3;
}

hr {
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.toolbar-tabbar {
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
}

.toolbar-tab {
	display: inline-block;
	padding: 5px;
	/*border: 1px solid rgb(52, 64, 71);*/
	color: #6f788a;
	background-color: rgb(43, 58, 66);
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;	
}

.toolbar-tab:hover {
	color: rgb(180, 180, 180);
	background-color: rgb(52, 64, 71);
}

.toolbar-tab.active {
	display: inline-block;
	color: white;
	background-color: rgb(52, 64, 71);
}

.toolbar-page {
	display: none;
}

.toolbar-page.active {
	display: block;
}

.cathegory-objects {
	margin-top: 10px;
	margin-left: 10px;
}

.icon {
	margin-left: 5px;
	margin-top: 5px;
	border-style: none;
	background-color: rgb(43, 58, 66);
	cursor: pointer;
}

.icon.on {
	border-style: none;
	background-color: rgb(52, 64, 71);
}

input, textarea {
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	padding: 9px;
	border: solid 1px #e5e5e5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF;
}

textarea {
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus{
	border-color: #c9c9c9;
}

.form label {
	margin-left: 10px;
	color: #999999;
}